<mat-toolbar style="background-color: white; border-bottom: 0.1px solid black;" class="fix-it">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span style="cursor: pointer;" routerLink="/navbar">Otabek Writing</span>
  <span class="example-spacer"></span>
  <nav>
    <ul>
        <li><a href="#intro">Bosh sahifa</a></li>
        <li><a href="#">Kurslar</a></li>
        <li><a href="#rek">Taklifimiz</a></li>
        <li><a href="#team">Jamoa</a></li>
        <li><a href="#students">O'quvchilar</a></li>
        <li><a [routerLink]="'/faq'">FAQ</a></li>
    </ul>
</nav>
  <span class="example-spacer"></span>
  <button [routerLink]="'/login'" mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>login</mat-icon>
  </button>  
  <button routerLink="logout" mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>logout</mat-icon>
  </button>
  <button routerLink="register" mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>create</mat-icon>
  </button>

  <button onclick="window.location.href = 'https://www.linkedin.com/in/mr-otabek-13a3aa275/';" mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>apple</mat-icon>
  </button>

</mat-toolbar> 

