<style>
    #answer{
        background-color: lightblue;
    }
</style>

<div class="background-div">
    <div class="main">
        <div>
            <div class="short-enrollment-encouragement">
                <div class="FAQ">
                    <h1>Ko'p Beriladigan Savollar</h1>
                    <p>Yana sizni qiziqtirgan savollar bo'lsa, biz bilan bog'laning!</p>
                    <div class="FAQ-inner-divs" id="faq-1">
                        <h2>- Kurslar bepulmi?</h2>
                        <div id="answer">
                            Ha, kurslar bepul.
                        </div>
                        <div onclick="enable(this)">
                            <img src="https://yt3.ggpht.com/7Hejb4B-YIwhd0PYvrs-FNQh6M4JYi8oJiPM7av0eUuE8XigDbxqqRur8-jwLyFrb2Mv0b55=s600-c-k-c0x00ffffff-no-rj-rp-mo" alt="">
                        </div>
                    </div>
                    <div class="FAQ-inner-divs" id="faq-1">
                        <h2>- Kurslar bepulmi?</h2>
                        <div id="answer2">
                            Ha, kurslar bepul.
                        </div>
                        <div onclick="enable()">
                            <img src="https://yt3.ggpht.com/7Hejb4B-YIwhd0PYvrs-FNQh6M4JYi8oJiPM7av0eUuE8XigDbxqqRur8-jwLyFrb2Mv0b55=s600-c-k-c0x00ffffff-no-rj-rp-mo" alt="">
                        </div>
                    </div>
                    <div class="FAQ-inner-divs" id="faq-1">
                        <h2>- Kurslar bepulmi?</h2>
                        <div id="answer3">
                            Ha, kurslar bepul.
                        </div>
                        <div onclick="enable()">
                            <img src="https://yt3.ggpht.com/7Hejb4B-YIwhd0PYvrs-FNQh6M4JYi8oJiPM7av0eUuE8XigDbxqqRur8-jwLyFrb2Mv0b55=s600-c-k-c0x00ffffff-no-rj-rp-mo" alt="">
                        </div>
                    </div>
                    <div class="FAQ-inner-divs" id="faq-1">
                        <h2>- Kurslar bepulmi?</h2>
                        <div id="answer4">
                            Ha, kurslar bepul.
                        </div>
                        <div onclick="enable()">
                            <img src="https://yt3.ggpht.com/7Hejb4B-YIwhd0PYvrs-FNQh6M4JYi8oJiPM7av0eUuE8XigDbxqqRur8-jwLyFrb2Mv0b55=s600-c-k-c0x00ffffff-no-rj-rp-mo" alt="">
                        </div>
                    </div>
                    <div class="FAQ-inner-divs" id="faq-1">
                        <h2>- Kurslar bepulmi?</h2>
                        <div id="answer5">
                            Ha, kurslar bepul.
                        </div>
                        <div onclick="enable()">
                            <img src="https://yt3.ggpht.com/7Hejb4B-YIwhd0PYvrs-FNQh6M4JYi8oJiPM7av0eUuE8XigDbxqqRur8-jwLyFrb2Mv0b55=s600-c-k-c0x00ffffff-no-rj-rp-mo" alt="">
                        </div>
                    </div>
                    <div class="FAQ-inner-divs" id="faq-1">
                        <h2>- Kurslar bepulmi?</h2>
                        <div id="answer6">
                            Ha, kurslar bepul.
                        </div>
                        <div onclick="enable()">
                            <img src="https://yt3.ggpht.com/7Hejb4B-YIwhd0PYvrs-FNQh6M4JYi8oJiPM7av0eUuE8XigDbxqqRur8-jwLyFrb2Mv0b55=s600-c-k-c0x00ffffff-no-rj-rp-mo" alt="">
                        </div>
                    </div>
                    <div class="FAQ-inner-divs" id="faq-1">
                        <h2>- Kurslar bepulmi?</h2>
                        <div id="answer7">
                            Ha, kurslar bepul.
                        </div>
                        <div onclick="enable()">
                            <img src="https://yt3.ggpht.com/7Hejb4B-YIwhd0PYvrs-FNQh6M4JYi8oJiPM7av0eUuE8XigDbxqqRur8-jwLyFrb2Mv0b55=s600-c-k-c0x00ffffff-no-rj-rp-mo" alt="">
                        </div>
                    </div>
                    <div class="FAQ-inner-divs" id="faq-1">
                        <h2>- Kurslar bepulmi?</h2>
                        <div id="answer8">
                            Ha, kurslar bepul.
                        </div>
                        <div onclick="enable()">
                            <img src="https://yt3.ggpht.com/7Hejb4B-YIwhd0PYvrs-FNQh6M4JYi8oJiPM7av0eUuE8XigDbxqqRur8-jwLyFrb2Mv0b55=s600-c-k-c0x00ffffff-no-rj-rp-mo" alt="">
                        </div>
                    </div>
                </div>
            </div>



            <div class="short-enrollment-encouragement">
                <div class="enrollment-content">
                    <h1>Sizni qiziqtira oldikmi?</h1>
                    <p>Ko'p yillik tajribaga ega mutaxassislar bilan birga Writing'ni oshiring!</p>
                </div>
                <div buttons-container>
                    <button class="short-button-one">
                        ✍️ Writing 7+ olish
                    </button>
                    <button class="short-button-two">
                        Any question?
                    </button>
                </div>
                <img style="width: 50%;" class="large-image" src="https://42.uz/home/hero-2.svg" alt="Large Image">
            </div>



            <footer class="footer">
                <nav>
                  <ul>
                    <li><a href="#">Kurslar</a></li>
                    <li><a href="#">42Podcast</a></li>
                    <li><a href="#">FAQ</a></li>
                  </ul>
                </nav>
                <nav>
                  <ul>
                    <li><a href="https://www.instagram.com/m_otabek_007/"> <img src="https://cdn-icons-png.flaticon.com/512/87/87390.png" alt="Insta"></a></li>
                    <li><a href="https://www.youtube.com/@otabekmeliqoziyev5530"> <img style="width: 37px; margin-top: -13%;" src="https://i.pinimg.com/564x/e8/c9/82/e8c9828387de2a83e5469a95bc6d8574.jpg" alt="Youtube"></a></li>
                    <li><a href="https://twitter.com/Otabek_twitting"> <img src="https://cdn-icons-png.flaticon.com/512/60/60580.png" alt="Twitter"></a></li>
                    <li><a href="https://t.me/Otabek_Writing"> <img style="width: 42px; margin-top: -20%;" src="https://static.vecteezy.com/system/resources/previews/018/757/779/original/black-telegram-logo-black-telegram-icon-free-free-vector.jpg" alt="TG"></a></li>
                    <li><a href="https://t.me/Creative_007_O"> <img style="width: 47px; margin-top: -5%;" src="https://www.creativefabrica.com/wp-content/uploads/2022/10/25/Support-Admin-icon-Graphics-43209390-1.jpg" alt="Contact"></a></li>
                  </ul>
                </nav>
                <p>&copy; 2023 Otabek Writing LLC. Barcha huquqlar himoyalangan.</p>
                <p><a href="#">Terms and Conditions</a> | <a href="#">Privacy Policy</a></p>
              </footer>         
        </div>
    </div>
</div>

<script>
    function enable(clickedElement) {
        var answer = clickedElement.parentNode.querySelector('.answer');
        if (answer) {
            answer.style.display = answer.style.display === 'none' ? 'block' : 'none';
        }
    }
</script>